<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="shortcut icon" href="Home.png" type="image/x-icon">
    <link rel="icon" href="Home.png" type="image/x-icon">
    <link href="reset.css" rel="stylesheet">
    <link href="style_first.css" rel="stylesheet">
    <title>니집내집</title>
</head>

<body>
    <div id="header">
        <h3>CONTENTS TITLE SECTION</h3>
        <a href="first.html" target="_self"><img src="Home.png" width="150" alt="니집내집로고"></a>
        <h2>INSERT HEAD MESSAGE HERE</h2>
        <h3>Lorem Ipsum Is simply dummy text of the printing and typesetting industry`</h3>
    </div>
    <div id="main">
        <div class="insert_info">
            <div class="display_label">
                <label>사는 곳을 입력하세요</label>
                <label>사용할 닉네임을 입력하세요</label>
                <label>이메일을 입력하세요</label>
            </div>
            <div class = "insert_info_box">
            <input type="text" name="insert_info_place" vlaue="건물이름" size="20">
            <input type="text" name="insert_info_nickname" vlaue="닉네임" size="20">
            <input type="email" name="insert_info_email" vlaue="이메일" size="20">
            </div>
            <input type="submit" name="submit_info" value="제출하기" class="sumit">
        </div>
        <div class="available_place">
            <p>입력 가능 건물 : </p>
        </div>
    </div>
    <div id="footer"></div>
</body>

</html>